7.4 Make and print a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [1]:
>>> things = ["mozzarella", "cinderella", "salmonella"]
>>> things

['mozzarella', 'cinderella', 'salmonella']

7.5 Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

Capitalizes the word but doesnâ€™t change the word in the list:

In [2]:
>>> things[1].capitalize()
'Cinderella'
>>> things

['mozzarella', 'cinderella', 'salmonella']

Capitalizes the word in the list:

In [3]:
>>> things[1] = things[1].capitalize()
>>> things

['mozzarella', 'Cinderella', 'salmonella']

7.6 Make the cheesy element of things all uppercase and then print the list.

In [4]:
>>> things[0] = things[0].upper()
>>> things

['MOZZARELLA', 'Cinderella', 'salmonella']

7.7 Delete the disease element, collect your Nobel Prize, and then print the list.

This would remove it by value:

In [5]:
>>> things.remove("salmonella")
>>> things

['MOZZARELLA', 'Cinderella']

9.1 Define a function called good() that returns the following list: ['Harry', 'Ron', 'Hermione'].

In [15]:
>>> def good():
...     return ['Harry', 'Ron', 'Hermione']
...
>>> good()

['Harry', 'Ron', 'Hermione']

9.2 Define a generator function called get_odds() that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.

In [29]:
>>> def get_odds():
...     for number in range(1, 10, 2):
...         yield number
...
>>> count = 1
>>> for number in get_odds():
...     if count == 3:
...         print("The third odd number is", number)
...         break
...     count += 1
...

The third odd number is 5